# move this to .env.development.local when you're ready to use.
# it'll be ignored by .gitignore

# Apollo/GraphQL
NEXT_PUBLIC_APOLLO_URL=http://localhost:3000/api/graphql

# Auth0
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Sentry
SENTRY_DSN=

# i18n
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_LOCALES=en,fr
